body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-open-sans: "Open Sans";
    --font-poppins: Poppins;
    --font-montserrat: Montserrat;
  
    /* font sizes */
    --font-size-xl: 20px;
    --font-size-5xl: 24px;
    --font-size-6xl-7: 25.7px;
    --font-size-21xl: 40px;
    --font-size-51xl: 70px;
    --font-size-106xl-3: 125.3px;
    --font-size-13xl: 32px;
    --font-size-34xl: 53px;
    --font-size-lg: 18px;
    --font-size-323xl: 342px;
  
    /* Colors */
    --color-white: #fff;
    --color-darkblue-100: #0111a2;
    --color-darkblue-200: #0010a2;
    --color-gray-100: #151515;
    --color-gray-200: #10110e;
    --color-gray-300: #0d0d0d;
    --color-gray-400: rgba(255, 255, 255, 0.1);
    --color-black: #000;
    --color-darkgray-100: #b3b3b3;
    --color-darkgray-200: #999;
    --color-whitesmoke: #efefef;
  
    /* Gaps */
    --gap-3xs: 10px;
    --gap-21xl: 40px;
    --gap-xs-3: 11.3px;
    --gap-xl: 20px;
    --gap-smi: 13px;
    --gap-9xs: 4px;
    --gap-16xl: 35px;
  
    /* Paddings */
    --padding-3xs: 10px;
    --padding-xl: 20px;
    --padding-21xl: 40px;
    --padding-36xl: 55px;
    --padding-5xl: 24px;
    --padding-mini: 15px;
    --padding-2xl: 21px;
    --padding-lgi: 19px;
    --padding-4xs: 9px;
    --padding-lg: 18px;
  
    /* Border radiuses */
    --br-5xl: 24px;
    --br-31xl: 50px;
    --br-41xl: 60px;
    --br-xl-7: 20.7px;
    --br-xl: 20px;
    --br-38xl: 57px;
    --br-sm: 14px;
    --br-10xl: 29px;
    --br-28xl: 47px;
  }
  